.main-container{
    width: 80vw;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.onOffBtn{
    margin: 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    background-color: rgb(117, 114, 114);
}
.onOffBtn:hover{
    opacity: 0.8;
}